body {
    background: white;
    font-family:Helvetica,Arial,sans-serif;
    font-size: 13pt;
    text-align: center    
}

.input{
    height:25px;
    width:150px;
    font-size:16px;
    border:solid 1px black;
}


.button{
    border:solid 1px black;
    height:23px;
    margin-left:20px;
}

.caption{
    background-color:#e5e5e5;
}

.footer {
    font-size:9px;
}